{% extends 'base.html' %}

{% block title %} Dashboard {% endblock %}

{% block body %}

<div class="row">
    <div class="col-sm-12 col-md-6">
        <h1>{{ nombre_usuario }}</h1>
    </div>
    <div class="col-sm-12 col-md-6" id="createbutton">
        <button type="button" class="btn" data-toggle="modal" data-target="#createModal">
            Crear selección
        </button>  
    </div>
</div>

{% if message %}
    <p style="color: red;">{{ message }}</p>
{% endif %}

<table class="table table-striped table-bordered" id="example">
    <thead>
        <tr>
            <th>Código</th>
            <th>Nombre Centro de Costos</th>
            <th>Mensaje</th>
            <th>Actualiza</th>
            <th>Eliminar</th>
        </tr>
    </thead>
    <tbody>
        {% for item in ccostos %}
        <tr>
            <td>{{ item['Codigo'] }}</td>
            <td>{{ item['NombreCentroCostos'] }}</td>
            <td>{{ item['Mensaje'] }}</td>
            <td style="width:25px">
                <button type="button" class="btn btn-primary btn-actualizar" data-toggle="modal" data-target="#myModal" data-codigo="{{ item['Codigo'] }}">
                    Actualizar
                </button>                
            </td>
            <td style="width:25px">
                <a href="/eliminar/{{ item['Codigo'] }}" class="btn btn-danger">Eliminar</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
<script>
    $(document).ready(function() {
        $('#example').DataTable({
            "language": {
                "lengthMenu": "Mostrar _MENU_ registros por página",
                "zeroRecords": "No se encontraron resultados",
                "info": "",
                "infoEmpty": "No hay registros disponibles",
                "infoFiltered": "(filtrado de _MAX_ registros totales)",
                "search": "Buscar:",
                "paginate": {
                    "first": "Primero",
                    "last": "Último",
                    "next": "Siguiente",
                    "previous": "Anterior"
                }
            },
            "columnDefs": [
                { "searchable": false, "orderable": true, "targets": 0 },
                { "searchable": true, "orderable": true, "targets": 1 },
                { "searchable": true, "orderable": false, "targets": 2 },
                { "searchable": true, "orderable": false, "targets": 3 },
                { "searchable": true, "orderable": false, "targets": 4 }
            ],
            "lengthMenu": [ [10, 25, 50, -1], [10, 25, 50, "All"] ],
            "scrollX": true,
            "scrollY": "200px",
            "scrollCollapse": true,
            "paging": false,
            dom: "<'row'<'col-sm-12 col-md-6 my-2' fB><'col-sm-12 col-md-6'>>" +
                "<'row'<'col-sm-12 col-md-5'ilp><'col-sm-12 col-md-7 my-2 text-right'>>"
        });
    });
</script>


<div id="myModal" class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="modalForm">
                <div class="modal-header">
                  <h5 class="modal-title">Actualizar</h5>
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                  <input type="hidden" id="codigo" name="codigo" class="form-control" required>
                  <p class="text-dark">Nueva descripción:</p>
                  <input type="text" id="descripcion" name="descripcion" class="form-control" required>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                  <button type="button" class="btn btn-primary" onclick="enviarFormulario()">Actualizar</button>
                </div>
              </form>
        </div>
    </div>
  </div>
<script>
function enviarFormulario() {
    var codigo = document.getElementById("codigo").value;
    var descripcion = document.getElementById("descripcion").value;
    var url = "/actualizar/" + codigo + "/" + descripcion;
    window.location.href = url;
}
</script>
<script>
$(document).ready(function() {
    $('.btn-actualizar').click(function() {
        var codigo = $(this).data('codigo');
        $('#codigo').val(codigo);
    });
});
</script>

<div id="createModal" class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="modalForm">
                <div class="modal-header">
                  <h5 class="modal-title">Crear selección</h5>
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                  <p class="text-dark">Código:</p>
                  <input type="text" id="codigo_crear" name="codigo_crear" class="form-control" required>
                  <p class="text-dark">Descripción:</p>
                  <input type="text" id="descripcion_crear" name="descripcion_crear" class="form-control" required>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                  <button type="button" class="btn btn-primary" onclick="enviarFormularioCrear()">Crear</button>
                </div>
              </form>
        </div>
    </div>
  </div>

<script>
function enviarFormularioCrear() {
    var codigo = document.getElementById("codigo_crear").value;
    var descripcion = document.getElementById("descripcion_crear").value;
    var url = "/crear/" + codigo + "/" + descripcion;
    window.location.href = url;
}
</script>



{% endblock %}
